<a href="https://colab.research.google.com/github/2017130715/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

*print를 쓰는 이유 – 셀 내에 여러 줄이 있을 때 run 하면 맨 마지막만 연산하기 때문

cf. 문자열에 print함수를 쓰면 따옴표를 없앰.

In [ ]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

*1.2를 int()함수로 바꾸면 반올림해서 1

In [1]:
a = '456'; print(type(a)); print(a[1])

<class 'str'>
5

*Python은 0부터 셈. a = ‘korea’; print(a[0]) => k

*지목 할 때는 [ ]를 씀, ex. a = ‘korea’; print(a[0]) => k

In [2]:
a = '369'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['3', '6', '9']
9

In [ ]:
a = [1, '2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a = (1, '2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [5]:
a = (1, 2, 3, 4)
a[3] = 5
a

TypeError: ignored

*Tuple의 특성 – 안에 있는 요소를 바꿀 수 없음.

In [3]:
a = {'a': "apple", "b": "ball", "c": 123}
print(type(a))
print(a['a'])

<class 'dict'>
apple

In [4]:
a = {'a': "apple, 'b': "ball, 'c': 123}
print(a[2])

SyntaxError: ignored

*Dictionary는 Key로 정의되므로 순서가 없음. 따라서 List와 Tuple의 a[0]같은 것은 안 먹힘.

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]